@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,700i&display=swap');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");

main {
  background-attachment: fixed;
  background-image: url("https://raw.githubusercontent.com/alex629lee/jihae.moe/master/images/pixel-stars-gif.gif");
  background-repeat: repeat;
  backdrop-filter: grayscale(100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.first {
  opacity: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 507px;
}

.first h1, h2 {
  color: ghostwhite;
  letter-spacing: 2px;
  font-family: 'Ubuntu Mono', sans-serif;
  text-align: center;
  cursor: default;
}

.first h1 {
  margin-bottom: 20px;
  font-size: 35px;
}

.first h2 {
  opacity: 0.8;
  /* margin-bottom: 15px; */
}

.first ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ubuntu Mono', sans-serif;
  position: relative;
}


.first ul li * {
  color: ghostwhite;
}

.first ul li {
  font-size: 21px;
  margin: 15px;
  opacity: 0.85;
  transition: opacity 0.25s ease-in-out;
  cursor: pointer;
}

.first ul li:hover {
  opacity: 1;
}

#projects-button {
  font-family: 'Ubuntu Mono', sans-serif;
  color: rgba(255, 255, 255, 0.644);
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

#projects-button:hover {
  color: white;
}


#projects-button i {
  font-size: 10px;
  position: relative;
  bottom: 1px;
}

.projects-container {
  display: none;
  color: white;
  font-family: 'Ubuntu Mono', sans-serif;
  position: relative;
  right: -50px;
  height: 420px;
}

.links-container {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.projects-container h1 {
  font-size: 22px;
  opacity: 0.8;
}

.projects-container > ul > li {
  margin: 18px;
  font-size: 22px;
}

.projects-container > ul > li > a > i {
  font-size: 18px;
}
